extends layout.pug

block content
    form(action="/register", method="POST")
        div(class="card text-white bg-success mb-3")
            div(class="card-header")="Sign Up"
            div(class="card-body")
                    div(class="form-group")
                        label(for="username")="Username"
                        input(type="text", id="username", name="username", class="form-control", placeholder="Enter a username")
                    div(class="form-group")
                        label(for="password")="Password"
                        input(type="password", id="password", name="id", class="form-control", placeholder="Choose a password")
                    div(class="form-group")
                        label(for="email")="Email"
                        input(type="email", id="email", name="email", class="form-control", placeholder="Enter your email")
                    div(class="form-group")
                        label(for="age")="Age"
                        input(type="number", id="age", name="age" class="form-control", placeholder="Enter your age")
        div(class="card text-white bg-dark mb-3")
            div(class="card-header")="What is your favorite color?"
            div(class="card-body")
                div(class="btn-group btn-group-toggle", data-toggle="buttons")
                    label(class="btn btn-danger active")
                        input(type="radio", name="colors", id="red", value="red", autocomplete="off", checked="")
                        | Red
                    label(class="btn btn-success")
                        input(type="radio", name="colors", id="green", value="green" autocomplete="off")
                        | Green
                    label(class="btn btn-primary")
                        input(type="radio", name="colors", id="blue", value="blue", autocomplete="off")
                        | Blue
                    label(class="btn btn-warning")
                        input(type="radio", name="colors", id="yellow", value="yellow", autocomplete="off")
                        | Yellow
            div(class="card-header")="What is your favorite fantasy archetype?"
            div(class="card-body")
                div(class="btn-group btn-group-toggle", data-toggle="buttons")
                    label(class="btn btn-danger active")
                        input(type="radio", name="archetypes", id="fighter", value="fighter", autocomplete="off", checked="")
                        | Fighter
                    label(class="btn btn-primary")
                        input(type="radio", name="archetypes", id="wizard", value="wizard", autocomplete="off")
                        | Wizard
                    label(class="btn btn-light")
                        input(type="radio", name="archetypes", id="cleric", value="cleric", autocomplete="off")
                        | Cleric
                    label(class="btn btn-warning")
                        input(type="radio", name="archetypes", id="rogue", value="rogue", autocomplete="off")
                        | Rogue
                    
            div(class="card-header")="What number am I thinking of?"
            div(class="card-body")
                div(class="btn-group btn-group-toggle", data-toggle="buttons")
                    label(class="btn btn-danger active")
                        input(type="radio", name="number", id="one", value="one", autocomplete="off", checked="")
                        | 1
                    label(class="btn btn-success")
                        input(type="radio", name="number", id="two", value="two", autocomplete="off")
                        | 2
                    label(class="btn btn-primary")
                        input(type="radio", name="number", id="three", value="three", autocomplete="off")
                        | 3
                    label(class="btn btn-light")
                        input(type="radio", name="number", id="four", value="four", autocomplete="off")
                        | 4
        input(type="submit", class="btn btn-primary btn-lg btn-block")
